<!DOCTYPE html>
<head> 
    <title>Art Style Transfer Tool</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {{ bootstrap.load_css() }}
</head>
<body>
  {{ bootstrap.load_js() }}
  <script>
    function updateEpochs() {
        var x = document.getElementById("epochSlider").value;
        document.getElementById("epochs").innerHTML = "Epochs: " + x;
    }

    function updateWidth() {
        var x = document.getElementById("widthSlider").value;
        document.getElementById("width").innerHTML = "Width: " + x;
    }

    function updateHeight() {
        var x = document.getElementById("heightSlider").value;
        document.getElementById("height").innerHTML = "Height: " + x;
    }
  </script>
  {% include 'navbar.html' %}
  <main class="container-fluid">
    <article>
      <h1>Welcome to Art Style Transfer Tool</h1>
      <p>Upload a picture and a style reference image,
      then specify how many epochs to train for and how big the image should be.</p>
    </article>
    <div class="row">
      <form action = "{{ url_for('transfer_style') }}" method = "POST" enctype="multipart/form-data">   
        <div class="form-group">
          <label class="form-label">Image</label>
          <br/>
          <input type="file" name="target" id="target" class="form-control-file"/>
        </div>
        <div class="form-group">
          <label class="form-label">Style</label>
          <br/>
          <input type="file" name="source" id="source" class="form-control-file"/>   
        </div>
        <div class="form-group">
          <label id="epochs" class="form-label">Epochs: 10</label>
          <br/>
          <input oninput="updateEpochs()" type="range" id="epochSlider" name="epochSlider" min=1 max=50 value=10 step=1 class="form-control">
          <br/>
          <label id="width" class="form-label">Width: 512</label>
          <br/>
          <input oninput="updateWidth()" type="range" id="widthSlider" name="widthSlider" min=128 max=2048 value=512 step=8 class="form-control">
          <br/>
          <label id="height" class="form-label">Height: 512</label>
          <br/>
          <input oninput="updateHeight()" type="range" id="heightSlider" name="heightSlider" min=128 max=2048 value=512 step=8 class="form-control">
          <br/>
        </div>
        <input type="submit" value="Upload" class="btn btn-primary">   
      </form>
    </div>
  </main>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#training-form').submit(function(event) {
        event.preventDefault(); // Prevent the form from submitting the traditional way

        const epochs = $('input[name="epochs"]').val();

        $.ajax({
          url: "/transfer_style",
          type: "POST",
          contentType: "application/json",
          data: JSON.stringify({ epochs: epochs }),
            success: function(data) {
              const taskId = data.task_id;
              $('#progress-container').show();
              let interval = setInterval(function() {
                $.get('/status/' + taskId, function(data) {
                  if (data.state == 'PENDING') {
                    $('#progress-text').text('Pending...');
                  } else if (data.state != 'FAILURE') {
                    const progress = Math.floor((data.current / data.total) * 100);
                    $('#progress-bar').css('width', progress + '%').attr('aria-valuenow', progress);
                    $('#progress-text').text(progress + '%');
                    if (progress >= 100) {
                      clearInterval(interval);
                      $('#progress-text').text('Training Completed!');
                    }
                  } else {
                    $('#progress-text').text('Error: ' + data.status);
                    clearInterval(interval);
                  }
                });
              }, 1000);
            }
          });
        });
    });
  </script>
</body>